---
import Photo from './Photo.astro';
import type { Photo as PhotoType } from '../../types/shared';

interface Props {
  src?: PhotoType;
  alt: string;
  size: 'large' | 'small';
  fitToWidth?: boolean;
  noBorder?: boolean;
}

const { src, alt, size, fitToWidth = false, noBorder = false } = Astro.props;

// Square container sizes; image will fit inside without overflow
const sizeToClass = /* tw */ {
  large: 'h-18 w-18',
  small: 'h-12 w-12',
};
---

{
  src && (
    <div class:list={['hidden sm:flex items-center justify-center', noBorder ? '' : 'rounded-md', sizeToClass[size]]}>
      <Photo
        src={src}
        alt={alt}
        class:list={[
          fitToWidth
            ? 'max-h-full max-w-full object-contain w-auto h-auto'
            : 'h-full w-full object-cover',
        ]}
        style={noBorder ? 'border: none !important;' : ''}
      />
    </div>
  )
}
