---
return Astro.redirect('/en/about');
---
<html><body>
  <!-- Если по какой-то причине редирект не сработал на сборке, добавим client fallback -->
  <noscript>
    <meta http-equiv="refresh" content="0;url=/en/about" />
    <p><a href="/en/about">Go to English</a> | <a href="/ru/about">Перейти на русский</a></p>
  </noscript>
</body></html>
