.git
node_modules
**/node_modules
.DS_Store
npm-debug.log
.env.local
.env.development
.env.test
.env.production
.env
*.log
logs
*.tgz
.npm
.eslintcache
.stylelintcache
.cache
.temp
.tmp
dist
build
coverage
.nyc_output
.vscode
.idea
*.swp
*.swo
*~

# --- Allow public assets for website build ---
!public/**
!public/uploads/**
!public/logos/**
