---
import type { FavoritesSection } from '../../types/sections/favorites-section.types';
import SectionCard from '../SectionCard.astro';
import FavoritesGrid from './FavoritesGrid.astro';

export interface Props extends FavoritesSection {}

const { config, books, people, videos, medias } = Astro.props;
---

<SectionCard {...config}>
  <div class="flex flex-col gap-8">
    <FavoritesGrid {...books} />
    <FavoritesGrid {...people} />
    <FavoritesGrid {...videos} />
    <FavoritesGrid {...medias} />
  </div>
</SectionCard>