---
import type { PortfolioSection } from '../../types/sections/portfolio-section.types';
import SectionCard from '../SectionCard.astro';

export interface Props extends PortfolioSection {}

const { config } = Astro.props;
---

<SectionCard {...config}>
  <div class="text-gray-500 dark:text-gray-400">
    Portfolio section content will be implemented here
  </div>
</SectionCard>
